.human {
  --speed-head: 0.75s;
  --speed-body-move: 0.25s;

  --animation-move-body: animate-body-move var(--speed-body-move) steps(1, end)
    infinite alternate;

    // --human-border
    // --human-hat
    // --human-face
    // --human-eye
    // --human-body-1
    // --human-body-2
    // --human-legs

  position: relative;
  transition: 0.1s;
  svg {
    width: 100%;
    height: 100%;
  }
  [data-id="Head"]{
    translate: 0 0;

    animation: animate-human-head var(--speed-head) steps(3, end) infinite
      alternate;

    @keyframes animate-human-head {
      from {
        translate: 0 0;
      }
      to {
        translate: 0 1px;
      }
    }
  }
  @keyframes animate-body-move {
    50% {
      opacity: 0;
    }
  }
  [data-id="Body-stop"],
  [data-id="Body-move"] {
    opacity: 1;
    animation: var(--animation-move-body);
  }
  [data-id="Body-stop"] {
    opacity: 1;
  }
  [data-id="Body-move"] {
    animation-delay: var(--speed-body-move);
  }
  &-stop {
    --animation-move-body: none;
    [data-id="Body-move"] {
      opacity: 0;
    }
  }
  &-directionX {
    &-left {
      transform: rotateY(180deg);
    }
  }

  [data-id="border"]{
    fill: var(--human-border,black);
  }
  [data-id="hat"]{
    fill: var(--human-hat,#464647);
  }
  [data-id="face"]{
    fill: var(--human-face,#E5AA7A);
  }
  [data-id="eyeleft"],
  [data-id="eyeright"]{
    fill: var(--human-eye,black);
  }
  [data-id="legs"]{
    fill: vvar(--human-legs,#9C5B3C);
  }
  [data-id="body1"]{
    fill: var(--human-body-1,#B4B4B5);
  }
  [data-id="body2"]{
    fill: var(--human-body-2,#474747);
  }

}
