body {
  background: black;
  color: white;
  margin: 0;
  display: grid;
  place-items: center;
  width: 100dvw;
  height: 100dvw;
  overflow: hidden;
}
html {
  margin: 0;
}

@import "../entities/styles.scss";
@import "../map/styles.scss";
