body{
    background: black;
    color: white;
    margin: 0;
    display: grid;
    place-items: center;
}
html{
    margin: 0;
}

@import "../human/styles.scss";
@import "../player/styles.scss";
@import "../map/styles.scss";